/* .row {
    border: solid 1px red;
}

.col, .col-1 {
    border: solid 1px green;
} */




/* ---MAIN STYLING--- */

body {
    background-color: #888B87;
}

.head-color {
    color: #EFEEE3;
    background-color: #1E252D;
}

.box-container {
    color: #1E252D;
    background-color: #EFEEE3;
}

.checklist-container1, .checklist-container2, .checklist-container3 {
    height: 20em;
}

.checklist-container1 {
    background-color: #ea9999;
}

.checklist-container2 {
    background-color: #ffe599;
}

.checklist-container3 {
    background-color: #b6d7a8;
}

.item-box {
    border: solid 0.25em #888B87;
}




/* ---BUTTONS--- */

.bi-plus-circle-fill {
    font-size: 150%;
}
#plus-icon {
    width: 5%;
}
.bi-plus-circle-fill:hover {
    color: #888B87;
}
.submit-button {
    border: hidden;
}

.bi-pencil-fill:hover {
    color: #888B87;
}

.bi-trash-fill:hover {
    color: #888B87;
}

.item-list-button {
    color: #EFEEE3;
    background-color: #1E252D;
    border: hidden;
    font-size: 120%;
}

.edit-item-button, .delete-item-button {
    color: #1E252D;
    background-color: transparent;
    border: hidden;
    font-size: 100%;
}

.SDList {
    border: hidden;
    color: #EFEEE3;
    background-color: #1E252D;
    font-size: 120%;
}

.SDList:hover {
    color: #888B87;
}



/* ---ITEM STYLING--- */

li {
    list-style: none;
    word-wrap: break-word;
}

#Item {
    width: 100%;
    background-color: #1E252D1A;
}

.placeholder {
    width: 100%;
    height: 1.7em;
    margin-bottom: 0.5em;
    border: 1px solid #1e252d;
    background-color: #1e252d41;
  }

/* ---CHECKED ITEM--- */
input[type=checkbox]:checked + div.checked {
    color:#1E252D80;
    text-decoration: line-through;
  }